@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropcontainer {
  max-height: 400px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Allow scrolling if there are too many items */
  border-radius: 0.5rem; /* Round the corners */
}

.slug {
  color: #333; /* Darker text color for product names */
}

.border-b-2 {
  border-color: rgba(0, 0, 0, 0.1); /* Lighter border color */
}

.hover\:bg-purple-50:hover {
  background-color: rgba(200, 180, 255, 0.2); /* Soft purple hover color */
}

.quantity {
  font-weight: bold; /* Bold the quantity text */
  color: #4a5568; /* Dark gray for better visibility */
}
